*{
    margin: 0;
    box-sizing: border-box;
    padding:0;

}
p{
  font-size: 14px;;
}

body{
    background-color: black;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
 
}
 a{
    text-decoration: none;
    color: gray;
    font-size: 13px;
    display: inline-block;
    padding: 4px;
    border-radius: 5px;
}
.ulist{
    display: none;
}
img{
    width: 35px;
}
header{
    display: grid;
    grid-template-columns:auto auto;
    justify-content: space-between;
    align-items: center;
    padding:10px 20px;

}
#m1{
    width: 35px;
    padding: 2px;
  
}
.row2{
    display: grid;
    grid-template-columns: auto;
    margin-top: 40px;

}
.col1{
    margin-left: 40px;
}
.row2 p{
    color:grey;
    margin-top: 5px;
    margin-bottom: 10px;

}
.list1{
    list-style-type: none;
    display:inline-block; 
    background-color: #212121;
    border-radius: 3px;

}
.ulist2 a{
    color: white;
}
a:hover{
   background-color: green;
   color: black;
   
}
.image{
    width:150px;
    margin-top: 15px;
   
}
.col2{
    display: grid;
    justify-content: center;
    align-items: center;
}
.row3{
    
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    margin-top:30px;

}
.row3 h3{
    padding:10px;
}
.row3 p{
    display: grid;
    margin-left:30px;
    margin-right:30px;
    font-size: 14px;
}
.row4{
    display: grid;
    grid-template-columns:auto auto;
    margin-top: 30px;
    justify-content: center;
 
    text-align:center;
    column-gap:12%;
    row-gap: 30px;
}

#mid{
    color: white;
}
.row4 h5{
    color: gray;

}
.row5{
    display:grid;
    justify-content: center;
    margin-top: 30px;

}
.row6{
   display: grid; 
   grid-template-columns: 28% 28% 28%;
   align-content: space-between;
   justify-content: center;
   column-gap: 20px;
   

}
.col7,.col8,.col9{
    background-color: #212121;
    margin-top: 30px;
    border-radius: 5px;
}  
.row6 p{
    color: gray;
    margin-top:7px;
    margin-left:6px;
    margin-bottom:6px;
    font-size: 13px;

} 
#pc{
    margin-top: 8px;
    margin-left: 8px;
}

#bh:hover{
    border-bottom: 4px solid green;
}
.row7{
    display: grid;
    justify-content: center;
    margin-top: 30px;
}
.row8{
    color: green;
    font-weight: 500;
    display: grid;
    justify-content: center;
    grid-template-columns: 50% 50%;
    margin-top:30px;
    margin-left: 40px;
    margin-right: 40px;
    padding :5px;
    row-gap:20px;
    column-gap: 20px;
    grid-template-rows: 100px 100px;
    
}
.col10,.col11,.col12,.col13{
    display: grid;
    text-align: center;
    justify-content:center;
    align-items: center;
    align-content: center;
    border-radius: 5px;
    background-color: #212121;
    


}
#ls{
    margin-bottom:10px;
    text-align: center;
   
}
.col13 img{
    margin-bottom:10px ;

}
.col12 img{
    margin-left: 25px;
}
.row8 >div:hover{
    border-bottom: 4px solid green;
    color: white;
   
    
 }
 .row9{
    display: grid;
    justify-content: center;
    margin-top: 30px;
 }
 .gd{
    display: grid;
    justify-content: center;
    grid-template-columns: auto;
    margin-top: 30px;
    row-gap: 8px;
    text-align: center;
    justify-content: center;
    
   

 }
textarea{
    background-color:black;
    width:172px;
    height: 60px;
    border: none;
    border-bottom: 2px solid gray;

}
input[type=text]{
    background-color: black;
    border: none;
    border-bottom: 2px solid gray;
    padding: 5px;

}
#p4{
    background-color: green;
    padding: 2px;
}
.en{
    margin-top: 50px;
    text-align: center;
    color:gray;
}
#m1 {
    display: inline-block;
    position: relative;
}

.nav {
    position: relative;
    display: inline-block;
}

.ulist {
    display: none;
    list-style: none;
    position: absolute;
    right: 0;
    background-color: aliceblue;
    min-width: 105px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.ulist a {
    color: black;
    padding: 14px 20px;
    text-decoration: none;
    display: inline-block;


}

.nav:hover .ulist {
    display: block;

}

#m1 {
    width: 30px;

}
.FU1{
    display: none;
}
@media screen and ( min-width:601px){    
    #m1{
        display: none;
    }
    header{
        display: grid;
       
        grid-template-columns: auto auto auto;
    }
   .FU1{
    display: flex;
    flex-direction: row;
    list-style: none;
    column-gap: 12px;
    margin-top: 2px;
   

   }
   .row2{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 15%;
    justify-content: center;
    align-content: center;
   }
   .col1{
    align-content: center;
    margin-top:75px;
    margin-left: 40px;
    font-size: 2vw;
   }
   .image{
    width:250px;
    margin-right: 0px;
   }
   .row3 {
    display: grid;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    margin-top: 5%;
    font-size: 2vw;

}
.row3 h3{
    padding: 3%;
}
.row4{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 14%;
    margin-right: 14%;
    padding-top: 3%;
   
}
.row5 {
    text-align: center;
    padding: 3%;
    font-size: 2vw;
    
}
.row6 {
    display: grid;
    grid-template-columns: 25% 25% 25%;
    margin-left: 14%;
    margin-right: 14%;
    align-items: center;
    justify-content: center;
    margin-bottom: 2vh;
    height: auto;
    column-gap: 12%;
}

.col7,
.col8,
.col9 {
    color: gray;
    font-size: 2vw;

    background-color: #212121;
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 4%;
    border-radius: 4px;
}
.row7 {
    text-align: center;
    padding: 3%;
    font-size: 2vw;

}
.row8 {

    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    column-gap: 0%;
    justify-content: center;
    margin-left: 14%;
    margin-right: 14%;
    grid-template-rows:130% ;
    margin-bottom:100px;

    
    

}
.col10,.col11,.col12,.col13{
    column-gap: 0; 
    border-radius:0% ;
    padding: 10%;
    
   

}.row9 {
    text-align: center;
    margin-top: 5%;
    font-size: 2vw;
;
}

.gd {
    display: grid;
    grid-template-columns: auto auto;
    margin-left: 14%;
    margin-right: 14%;
    padding: 0 10% 0 10%;
    column-gap: 5px;
    row-gap: 5px;
    margin-bottom: 50vh;
    height: 2vh;

}

.gd5 {
    grid-column: 1/ span 2;
}


input[type=text] {
    padding: 10px;
    background-color: black;
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid gray;
    margin-top: 2vh;

}

input[type=submit] {
    border: none;
    background-color: green;
    border-radius: 2px;
    padding: 3%;
    margin-top: 15%;
    cursor: pointer;
    font-weight: 600;

}

textarea {
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    resize: none;
    border: none;
    background-color: black;
    border-bottom: 2px solid gray;




}

.gd6 {
    grid-column: 1/span 2;
    text-align: center;
    margin-bottom: 10%;
}

.ulist2 a{

    padding: 13px;
    


}






    
}
